<h1>Certificado de Ingresos y Retenciones</h1>
<div>
    <p>Vigencia :</p>
    <select [(ngModel)]="vigencia">
        @for (anio of anios; track $index) {
            <option>{{anio}}</option>
        }
    </select>
</div>

<buscador-tercero></buscador-tercero>

<!-- <input type="checkbox">
<label>Generar certificado y retencion</label> 
<br>-->
<input type="checkbox" [(ngModel)]="myCheckboxValue">
<label>¿incluir informacion de Asociados Especiales?</label>
<certificado-tabla></certificado-tabla>
<button (click)="consultar()">Procesar</button>
<button disabled>Imprimir</button>