<table class="table-auto border-separate">
    <tr>
        <th class="px-2 bg-emerald-800 text-white">Concepto</th>
        <th class="px-2 bg-emerald-800 text-white">Descripción</th>
        <th class="px-2 bg-emerald-800 text-white">Cuenta</th>
        <th class="px-2 bg-emerald-800 text-white">Saldo</th>
        <th class="px-2 bg-emerald-800 text-white">Base gravable</th>
        <th class="px-2 bg-emerald-800 text-white">Base no gravable</th>
        <th class="px-2 bg-emerald-800 text-white">Valor devengado</th>
        <th class="px-2 bg-emerald-800 text-white">Valor retenido</th>
        <th class="px-2 bg-emerald-800 text-white">Intereses pagados</th>
        <th class="px-2 bg-emerald-800 text-white">Seccion</th>
    </tr>
    @for(row of cir(); track $index){
        <tr>
            <td>{{row.CertIngRetDes}}</td>
            <td>{{row.CertIngRetDes}}</td>
            <td>{{row.CertIngRetCta}}</td>
            <td>{{row.CertIngRetSal}}</td>
            <td>{{row.CertIngRetBasGra}} </td>
            <td>{{row.CertIngRetBasNoGra}}</td>
            <td>{{row.CertIngRetValDev}}</td>
            <td>{{row.CertIngRetValRet}}</td>
            <td>{{row.CertIngRetIntPag}}</td>
            <td>{{row.CertIngRetSec}}</td>
        </tr>  
    }
<!-- 
        <tr>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
            <td>hola esto es una comuna</td>
        </tr>   -->
</table>

