<table class="table-auto border-separate border-spacing-0.5 shadow-md/30 rounded-xl bg-gray-800">
    <tr>
        <th class="px-2 bg-emerald-800 text-white" [ngClass]="cir().length>0?'rounded-tl-xl':'rounded-l-xl'">Concepto</th>
        <th class="px-2 bg-emerald-800 text-white">Descripción</th>
        <th class="px-2 bg-emerald-800 text-white">Cuenta</th>
        <th class="px-2 bg-emerald-800 text-white">Saldo</th>
        <th class="px-2 bg-emerald-800 text-white">Base gravable</th>
        <th class="px-2 bg-emerald-800 text-white">Base no gravable</th>
        <th class="px-2 bg-emerald-800 text-white">Valor devengado</th>
        <th class="px-2 bg-emerald-800 text-white">Valor retenido</th>
        <th class="px-2 bg-emerald-800 text-white">Intereses pagados</th>
        <th class="px-2 bg-emerald-800 text-white" [ngClass]="cir().length>0?'rounded-tr-xl':'rounded-r-xl'">Seccion</th>
    </tr>
    @for(row of cir(); track $index){
        <tr >
            <td class="px-2 bg-slate-100" [ngClass]="{'rounded-bl-xl':$last}">{{row.CertIngRetDes}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetDes}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetCta}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetSal|currency:'COP':'symbol':'1.0-0':'es-CO'}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetBasGra |currency:'COP':'symbol':'1.0-0':'es-CO'}} </td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetBasNoGra |currency:'COP':'symbol':'1.0-0':'es-CO'}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetValDev |currency:'COP':'symbol':'1.0-0':'es-CO'}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetValRet |currency:'COP':'symbol':'1.0-0':'es-CO'}}</td>
            <td class="px-2 bg-slate-100">{{row.CertIngRetIntPag |currency:'COP':'symbol':'1.0-0':'es-CO'}}</td>
            <td class="px-2 bg-slate-100" [ngClass]="{'rounded-br-xl':$last}">{{row.CertIngRetSec}}</td>
        </tr>  
    }
</table>

